body{
    margin: 0;
    padding: 0;
    font-family: "LINE Seed JP", sans-serif'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box{
    background: cornflowerblue;
    width: 350px;
    padding: 30px;
    border-radius: 6px;
   
}

.signup-box h2
{
text-align: center;
color: aqua;
font-size: 14pz;
margin-bottom: 20px;
}
