body{
    /* margin: 0;
    padding: 0;
    font-family: "LINE Seed JP", sans-serif'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */

    background-color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.signup-box {
    /*background: cornflowerblue;
    width: 350px;
    padding: 30px;
    border-radius: 6px;
    */width: 35px;
    margin: 50px auto;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0 0 10px black;
}

.signup-box h2
{
text-align: center;
/* color: aqua;
font-size: 14pz;
margin-bottom: 20px; */
}

.signup-box p {

    text-align: center;
    color: gray;
}

.signup-box input {
    padding: 8px 15px;
    margin-top: 10px;
}

