*{
    margin: 0%;
    padding: 0%;
}

html,body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

section {
    min-height: 80vh;
    padding: 70px 40px;

}

nav {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.864);
}

nav ul a {
    text-decoration: none;
    color: white;
}

nav ul {

}